body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'PT Serif', serif;
}
.hero-banner {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
@media screen and (max-width: 600px) {
    .content {
        padding: 10px;
        margin: 0px 20px;
    }
    .hero-banner {
        height: 250px;
        width: 100%;
    }
}
@media screen and (min-width: 600px) {
    .content {
        padding: 10px;
        margin: 0px 25%;
    }
    .hero-banner {
        height: 250px;
        width: 100%;
    }
}